{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            Athletic Cave
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block header %}
        {% endblock header %}
</head>
<body>
    <nav>
        <div>
            
            <a href="{% url 'home' %}">
                <img src="{% static 'images/noun-stack.png' %}" alt="Athetic Cave">
                <h1>Athletic Cave</h1>
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="register">
            <a href="{% url 'auth_logout'%}"><h2>Logout</h2></a>
        </div>
        {% else %}
        <div class="register">
            <a href="{% url 'auth_login'%}"><h2>Login</h2></a>
            <a href="{% url 'registration_register'%}"><h2>Register</h2></a>
        </div>
        {% endif %}
     </nav>
        {% block content %}
        {% endblock content %}
        {% block footer %}
        {% endblock footer %}
</body>
</html>