{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            Athletic Cave
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block header %}
        {% endblock header %}
</head>
<body>
<nav>
    <div class="main_header">
        <a href="{% url 'home' %}">
            <h1>Athletic Cave</h1></a>
    </div>
    <ul>
        <img src="{% static 'images/noun-stack.png' %}" alt="Athetic Cave">
        {% if user.is_authenticated %}
        <li>
        <a href="{% url 'auth_logout'%}">Logout</a>
        </li>
        {% else %}
        <li>
        <a href="{% url 'auth_login'%}">Login</a>
        </li>
        <li>
        <a href="{% url 'registration_register'%}">Register</a>
        </li>
        {% endif %}
    </ul>
        {% block content %}
        {% endblock content %}
        {% block footer %}
        {% endblock footer %}
</body>
</html>