body {
    background-color: lightgray;
}

nav {
    display: grid;
    background-color: orangered;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto ;
    margin: -8px;
    padding: 8px;
} 

.register {
    text-align: right;
    margin: 10px;
}

.post {
    background-color: white;
    margin: 10px;
    padding: 0px 20px;
    border: solid lightgray 5px;
}