{% extends 'base.html' %}
{% block title %}
    Comments - {{ block.super }}
{% endblock title %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p> Written by {{ comment.user }} on {{ comment.created }}</p>
    <p>{{ comment.body }}</p>
    <h1>Leave a comment</h1>
    <p>Total number of comments {{ post.comments.count }}
    {% for comment in post.comment %}
        <p>{{ comment.created }}</p>
        <p>{{ comment.user }}</p>
        <p>{{ comment.body }}</p> 
    {% endfor %}
{% endblock %}
